* {
  padding: 0;
  margin: 0;

}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {

  width: 15ch;
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Audiowide', sans-serif;
  font-size: 3em;
  margin-top: -10%;

}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.big-card-title {
  display: flex;
  justify-content: center;
}

h1 {
  padding-left: 20px;
  font-size: 100px;
  color: rgb(253, 253, 253);
  font-weight: bolder;
}

.big-card-pic > img {
  width: 250px;
  height: 250px;

}

.linkedin {
  margin-top: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
