.big-card-container {
  border: 3px solid magenta;
  width: 50%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}

big-card-title > h1 {
  font-size: 50px;
  margin-top: 10px;
}

.big-card-description > p {
  color: gray;
  margin-top: 10px;
}

.big-card-pic > img {
  width: 100%;
}
