<div class="big-card-container">
  <!-- <div class="big-card-pic">
    <img
      src="https://avatars.githubusercontent.com/u/78622296?v=4"
      alt="Me"
    />
  </div> -->
  <div class="big-card-title">
    <h1 class="typing-demo">
      {{ cardTitle }}
    </h1>
    <hr />
  </div>
  <div class="big-card-description">
    {{ cardDescription }}
    <hr />
    <div>
      <a class="linkedin">
        <img
          src="https://anibalfn.github.io/Images/icons8-linkedin-50.png"
          alt="Linkedin Logo"
          srcset=""
        />
      </a>
      <a class="github">
        <div>
          <img
            src="https://anibalfn.github.io/Images/icons8-github-50.png"
            alt="Github Logo"
            srcset=""
          />
        </div>
      </a>
    </div>
  </div>
</div>
