<div class="big-card-container">
  <!-- <div class="big-card-pic">
    <img
      src="https://avatars.githubusercontent.com/u/78622296?v=4"
      alt="Me"
    />
  </div> -->
  <div class="big-card-title">
    <h1 class="typing-demo">
      {{ cardTitle }}
    </h1>
  </div>
  <div class="big-card-description">
    <hr />
    <br>
    {{ cardDescription }}
    <br>
    <a href="http://linked.in/in/anibalfn">
      <img
        src="http://anibalfn.github.io/Images/icons8-linkedin-50.png"
        alt=""
        srcset=""
      />
    </a>
    <hr>
    <a href="github.com/anibalfn">
      <img
        src="http://anibalfn.github.io/Images/icons8-github-50.png"
        alt=""
        srcset=""
      />
    </a>
  </div>
</div>
