* {
  padding: 0;
  margin: 0;

}

big-card-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.wrapper {
  height: 100vh;
  /*This part is important for centering*/
  display: grid;
  place-items: center;
}

.typing-demo {
  animation: typing 2s steps(22), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: 'Audiowide', sans-serif;
  font-size: 3em;
  margin-right: 50%;
  margin-top: -5%;
  padding: 20px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: fit-content;
}

@keyframes typing {
  from {
    width: 0
  }
}

@keyframes blink {
  50% {
    border-color: transparent
  }
}

.big-card-title {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 100px;
  color: rgb(253, 253, 253);
  font-weight: bolder;
}

.big-card-pic > img {
  width: 250px;
  height: 250px;

}

a {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}


