.menu-title-container {
  font-family: "Audiowide", sans-serif;
  margin-top: -45px;
  padding-right: 30px;
  height: 40%;
  width: 40%;
  margin-left: 60%;
  color: white;
  margin-right: 5%;
  padding-bottom: 20px;
}

.menu-title-container > h1 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-weight: bolder;
  font-size: 3rem;
  padding: 7px 7px 7px 7px;
  animation: pulsate 1.5s infinite alternate;
  border: 0.2rem solid #fff;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe, 0 0 2.8rem #bc13fe, inset 0 0 1.3rem #bc13fe;
}

.menu-title-container > br {
  margin-top: 5px;
  margin-bottom: 5px;
}

@keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #bc13fe,
      0 0 80px #bc13fe, 0 0 90px #bc13fe, 0 0 100px #bc13fe, 0 0 150px #bc13fe;
  }

  0% {
    text-shadow: 0 0 2px #fff, 0 0 4px #fff, 0 0 6px #fff, 0 0 10px #bc13fe,
      0 0 45px #bc13fe, 0 0 55px #bc13fe, 0 0 70px #bc13fe, 0 0 80px #bc13fe;
  }
}

@media only screen and (max-width: 768px) {
	.menu-title-container {
	  margin-top: -20px;
	  padding-right: 15px;
	  height: 30%;
	  width: 80%;
	  margin-left: 10%;
	  padding-bottom: 30px;
	}

	.menu-title-container > h1 {
	  font-size: 1rem;
	  padding: 5px;
	}

	.menu-title-container > br {
	  display: none;
	}
  }
