.small-card-container {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 8px;

}

.small-card-description {
  display: flex;
  flex-direction: column;
  color: white;
  padding-bottom: 10px;

}

.small-card-title {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h3 {
  color: aqua;
}


img {
  height: 70%;
  border: 1px solid black;
  border-radius: 40%;
  justify-content: right;
  margin-left: 30px;
  height: 100%;
}
