<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>

<div class="presentation">
  <app-big-card></app-big-card>
</div>
<div class="articles-container">
  <div class="description">
    <app-card-description></app-card-description>
  </div>
  <div class="other-articles">
    <hr />
    <h2 class="section-title">{{ articleTitle }}</h2>
    <div class="articles">
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
      <app-small-card></app-small-card>
    </div>
  </div>
  <div>
    <hr />
    <app-social-media></app-social-media>
  </div>
</div>
