.menu-bar-container {
  /* border: 3px orange solid; */
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bolder;
  font-size: larger;
}

.menu-bar-container > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.menu-bar-container > ul > li {
  text-align: left;
}
