.menu-bar-container {
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
  font-weight: bolder;
  font-size: larger;
  text-decoration: none;
}

a {
  text-decoration: none;
}

a:hover {
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

.menu-bar-container > ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.menu-bar-container > ul > li {
  text-align: left;
}

.classOn {
  font-family: 'Audiowide', sans-serif;
  color: #fff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}
