<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

<div class="menu-bar-container">
  <ul>
    <li>
      <a
        [routerLink]="['/']"
        [routerLinkActive]="[]"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/"
        >HOME</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/bio']"
        [routerLinkActive]="['classOn']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/bio"
        >BIO</a
      >
    </li>
    <li>
      <a
        [routerLink]="['/articles']"
        [routerLinkActive]="['classOn']"
        [routerLinkActiveOptions]="{ exact: true }"
        routerLink="/articles"
        >ARTICLES</a
      >
    </li>
    <li><a routerLink="/projects">PROJECTS</a></li>
    <li><a routerLink="/portfolio">PORTFOLIO</a></li>
  </ul>
</div>
