<div class="contacts">
  <div class="title">
    <h2>{{ contactTitle }}</h2>
  </div>
  <div class="medias">
    <a href="http://linked.in/in/anibalfn" target="_blank">
      <img
        src="../../../assets/icons8-linkedin-50.png"
        alt="LinkedIn icon"
        srcset=""
      />
    </a>
    <a href="http://github.com/anibalfn" target="_blank">
      <img
        src="../../../assets/icons8-github-50.png"
        alt="GitHub icon"
        srcset=""
      />
    </a>
    <a href="mailto: anibalneto29@gmail.com" target="_blank">
      <img
        src="../../../assets/icons8-gmail-novo-64.png"
        alt="Gmail icon"
        srcset=""
      />
    </a>
    <a href="instagram.com" target="_blank">
      <img
        src="../../../assets/icons8-instagram-64.png"
        alt="Instagram icon"
        srcset=""
      />
    </a>
  </div>
</div>
