/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  background-color: #111111;
  color: white;


  background: url("https://anibalfn.github.io/Images/landingpage_cyberpunk.jpg")
    center/cover no-repeat fixed;
  background-color: #030303; /* Cor de fundo de backup caso a imagem n達o seja carregada */
  margin: 0; /* Remova as margens padr達o do corpo */
  padding: 0; /* Remova o preenchimento padr達o do corpo */
  font-family: 'Audiowide', sans-serif; /* Escolha uma fonte padr達o para o texto do corpo */
}
