* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.photo-container {
	border: 3px solid yellow;
	width: fit-content;
	margin-left: 65%;
	margin-top: 30px;
}

.photo {
	border: 3px solid blue;
	width: fit-content;
	height: fit-content;
}
