* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }

  .photo {
	padding-bottom: 1rem;
	display: flex;
	justify-content: flex-end;
	width: 30%;
	height: 30%;
  }

  .photo > img {
	width: 75%;
	height: 75%;
	object-fit: cover; /* Para garantir que a imagem cubra completamente a área especificada */
  }
